@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-weight: 400;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.customizedInput {
  @apply p-2 px-3 border-2 rounded-lg outline-none text-black;
}

/* date border  */
.MuiOutlinedInput-notchedOutline {
  border: 2px #e5e7eb solid;
  border-radius: 8px;
}

/* date input  */
.MuiInputBase-input {
  padding: 10px 0;
}

/* date label  */
.MuiInputLabel-root {
  margin-top: -5px;
  font-family: inherit;
  color: rgb(147, 147, 147);
}

.MuiStack-root {
  overflow: visible;
}
